<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >-->

<!--<suite name="TestNG">-->

<!--    <test name="tests.LoginTests" preserve-order="false">-->
<!--        <classes>-->
<!--            <class name="tests.LoginTests"/>-->
<!--&lt;!&ndash;            <class name="tests.BaseTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="CucumberRunner"/>&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->